setuptools>=65.0.0
wheel>=0.38.0
fastapi>=0.104.1,<0.110.0
uvicorn[standard]>=0.24.0,<0.30.0
pydantic>=2.5.0,<3.0.0
numpy>=1.24.3,<1.27.0
matplotlib>=3.7.2,<4.0.0
openseespy>=3.3.0
opstool>=0.8.0
python-multipart>=0.0.6
requests>=2.31.0



